@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

@media only screen and (min-width: 60em) {
 
    html {
        font-size:110%;
    }
}

@media only screen and (min-width: 90em) {
 
    html {
        font-size: 120%;
    }
}

@media only screen and (min-width: 120em) {
    
    html {
        font-size: 130%;
    }
 
}
body {
  margin: 0;
  padding: 0;
}
a:link,
a:active {
    /* it is okay to get rid of the focus rectangle for mouse users but NEVER FOR KEYBOARD USERS. THEY NEED THIS!!!!!!!! */
    
    outline: none;
}

a:focus {
    outline: 3px solid #000;
}
    
.skip-links {
    margin: 0;
    padding: 0;
    list-style-type:none;
}

.skip-links a {
    position: absolute;
    top:-3em;
    padding:0.5em 0.75em;
    background-color: #000;
    font-weight: bold;
    font-size: 1.25em;
    text-decoration: none;
}

.skip-links a:focus {
    top:0;
}

.masthead {
    background-color: #660066 ;
    overflow: hidden;
    display: block;
}

.moons-title {
    background-color: #660066;
}

img {
  display: block;
  width: 100%;
}

.title {
    text-align:center;
    margin: 0;
    padding: 0 0 .5rem;
}

.info {
    background-color: #e2e2e2;
}

.intro {
    text-align:center;
    background-color: #ffcccc;
}

.photo-grey {
    background-color: #ff6699;
}
        
.nav {
    padding:0;
}
/* KEEP MARGIN, FOR LATER */

.nav a {
    text-decoration: none;
    color: #ffccff;
    display:block;
}

.nav a:hover,
.nav a:focus,
.nav a:active,
.nav .nav-current,
.nav .nav-current:link,
.nav .nav-current:visited {
    background-color: #ff6699;
    color: #fff;
}

ul {
    list-style-type: none;
    padding:0;
}

.mid {
    background-color: #660066;
}

.footer {
    background-color: #660066;
}

.nebula {
    background-color: #ff6699;
}

label {
    display: block;
}

.radio {
    white-space: nowrap;
}

input + label {
    display: inline-block;
}

.field {
    width: 100%;
    padding: 0.2em 0.5em;
    font-size: 1.25rem;
}

.field:focus {
    outline: 3px solid #ff6699;
}

textarea {
    width: 100%;
    padding: 0.2em 0.5em;
    font-size: 3em;
}

form {
    max-width: 35em;
    margin: 0 auto;
}

.h3 {
    text-align: center;   
}


@media only screen and (min-width: 20em) {
    
    .masthead {
        text-align: center;
    }
    
    .nav li {
        display:inline-block;
    }
    
      .bodycopy {
        font-size: 1em;
        text-align:center;
    }
        
}


@media only screen and (min-width: 25em) {
    
    .footer {
        text-align: center;
    }
    
    .nav li {
        display:inline-block;
        text-align: center;
    }
    
   .bodycopy {
        font-size: 1em;
        text-align:center;
    }
        
}

@media only screen and (min-width: 38em) {
    
    le {
        float:left;
        margin: 0;
        padding:0;
    }
    
    .nav {
        float:left;
    }
    
    .title {
        text-align: left;
        color: #F8F8FF;
    }
    
    .footer {
        text-align: center;
    }
    
    .copyright {
        text-align: left;
        color: #F8F8FF;
    }
    
    .footer-links {
        float: right;
    }
    
    .top-links {
        text-align: center;
    }
   
    .bodycopy {
        font-size: 1em;
        text-align:center;
    }
        
    .button {
        text-align: center;
    }
        
        
}

@media only screen and (min-width: 60em) {
    
    .moon-info {
        display: block;
    }
        
    .moon-info dt {
        float: left;
        clear: left;
        width: 12rem;
    }
    
    .moon-info dd {
        float: left;
        width: 12rem;
    }
    
    .nebula {
        float: left;
    }
    
    .top-links {
        text-align:center;
    }
    
      .bodycopy {
        font-size: 1em;
        text-align:center;
    }
    
     .button {
       text-align:center;
    }
        
}